<h2>Dinámicos</h2>

<hr>

<form (ngSubmit)="guardar();" autocomplete="off" #miForm = "ngForm">

    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
            <input class="form-control"
                   placeholder="Nombre de la persona"
                   name="nombre"
                   [ngModel]="persona.nombre"
                   required>
                   <span *ngIf="miForm.controls['nombre'].errors && miForm.controls['nombre'].touched"
              class="form-text text-danger">
        Este campo es obligatorio</span>
        </div>
    </div>



    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Agregar</label>
        <div class="col-sm-9">
            <div class="input-group">
            <input class="form-control mb-2"
                   name="nuevoJuego"
                   [(ngModel)]="nuevoJuego"
                   (keyup.enter)="agregar()"
                   placeholder="Nombre de la persona">
                   
                 <button class="btn btn-outline-primary mb-2"
                         (click)="agregar()"
                         type="button">
                         Agregar
                 </button>
                </div>   
        </div>
    </div>




    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favoritos</label>
        <div class="col-sm-9">

            <div *ngFor="let juego of persona.favoritos; let i = index"
                 class="input-group">
            <input 
                  [(ngModel)]="juego.nombre"
                  name="favorito_{{i}}"
                  class="form-control mb-2">
                  <button class="btn btn-outline-danger mb-2"
                          (click)="eliminar(i)"
                          type="button">
                       Eliminar
                  </button>
            </div>


        </div>
    </div>

   


    <div class="row">
        <div class="col-sm-12">
            <button type="button"
                    class="btn btn-primary float-end"
                    [disabled]="miForm.invalid"
                    (click)="guardar()">
                    Guardar
            </button>
        </div>
    </div>



</form>


<span>Persona</span>
<pre>{{persona | json }}</pre>